.postList {
  list-style: none;
  padding-left: 0;
  margin-top: 3rem;
}

.postList > li {
  margin-bottom: 2rem;
}

.postLink {
  display: block;
  font-size: var(--font-md);
  font-weight: var(--font-extrabold);
}

.postLink:hover {
  text-decoration: underline;
}

.postDate {
  font-size: var(--font-xs);
}
